hr {
  width: 500px;
}

#titleContainer {
  padding-top: 10px;
}
.title {
  font: Monaco;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
}
#instructions {
  font: Monaco;
  font-size: 15px;
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
}

#resultRow {
  font: Monaco;
  font-size: 15px;
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
}
#resultsWrapper {
  height: 100px;
  justify-content: center;
  display: grid;
}
#alert {
  padding-top: 25px;
  height: 20px;
  font: Monaco;
  font-size: 15px;
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
  justify-content: center;
  display: grid;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
#rowElement {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.bits {
  margin-left: 30px;
}

#updateMessage {
  height: 50px;
}

.updateText {
  font: Monaco;
  font-size: 15px;
  letter-spacing: -1px;
  color: rgb(255, 255, 255);
}

#board {
  width: 385px;
  height: 120px;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
}
#tileContainer {
  width: 385px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#tile1 {
  /* Box */
  border: 2px solid lightgray;
  width: 60px;
  height: 60px;
  margin: 2.5px;
  cursor: pointer;

  /* Text */
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tile2 {
  /* Box */
  border: 2px solid lightgray;
  width: 60px;
  height: 60px;
  margin: 2.5px;
  cursor: pointer;

  /* Text */
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tile3 {
  /* Box */
  border: 2px solid lightgray;
  width: 60px;
  height: 60px;
  margin: 2.5px;
  cursor: pointer;

  /* Text */
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tile4 {
  /* Box */
  border: 2px solid lightgray;
  width: 60px;
  height: 60px;
  margin: 2.5px;
  cursor: pointer;

  /* Text */
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tile5 {
  /* Box */
  border: 2px solid lightgray;
  width: 60px;
  height: 60px;
  margin: 2.5px;
  cursor: pointer;

  /* Text */
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.correct {
  background-color: #6aaa64;
  color: white;
  border-color: white;
}

.present {
  background-color: #c9b458;
  color: white;
  border-color: white;
}

.absent {
  background-color: #787c7e;
  color: white;
  border-color: white;
}
.absent {
  color: white;
  border-color: white;
}

.keyboardRow {
  width: 500px;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.keyTile {
  width: 38px;
  height: 40px;
  margin: 3px;
  border: 2px solid lightgray;
  border-radius: 7px;
  cursor: pointer;

  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyEnter {
  width: 78px;
  height: 40px;
  margin: 3px;
  border: 2px solid lightgray;
  border-radius: 7px;
  cursor: pointer;

  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyRestart {
  width: 125px;
  height: 40px;
  margin: 3px;
  border: 2px solid lightgray;
  border-radius: 7px;
  cursor: pointer;

  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: -5px;
}
